body {
    background-color: lavenderblush;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.old_user_data {
    margin-left: 40%;
}
.form-group textarea {
    width: 400px;
}

.form-group input {
    width: 350px ;
}

#user_age {
    width: 70px;
}

.form-group label {
    font-size: 20px;
}

.user_info{
    width: 90%;
    margin: auto;
}

.user_photo {
    width: 10%;
    margin-bottom: 20px;
}

.sign_up_btn {
    border-radius: 6px;
    border: solid black 1px;
}
