{% extends 'base.html' %}
{##}
{#{% block title %}New user{% endblock %}#}
{##}
{#{% block header %}Sign up!{% endblock %}#}

{% block original_url %}
    <input type="hidden" id="original url" name="original url" value="sign_up">
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/sign_up.css">
    <div class="old_user_data">
        <h1>update account</h1>
        <img class="user_photo" src="{{ filepath }}" alt="profile picture" style="border-radius: 50%">
        <a href="{{ url_for('profile_picture_upload', username=username) }}">update profile picture</a>
        <h2 class="account">{{ old_user_data['username']}}</h2>
        <p class="account">{{ old_user_data['email']}}</p>
{#        bootstrap to make the name and email to the right side of the pic needed#}
        <form action="" method="POST" >
          <div class="form-group">
            <label for="username">Username</label>
            <input required pattern=".{3,}" id="username" required name="username" title="3 characters minimum"
                   type="text" class="form-control" value="{{ old_user_data['username'] }}">
          </div>

          <div class="form-group">
            <label for="nickname">Nickname</label>
            <input required pattern=".{3,}" id="nickname" name="nickname" required title="3 characters minimum"
                   type="text" class="form-control" value="{{ old_user_data['nickname']}}">
          </div>

            <div class="form-group">
            <label for="email">Email</label>
            <input required pattern=".{3,}" id="email" name="email" required title="3 characters minimum"
                   type="text" class="form-control" value="{{ old_user_data['email']}}">
          </div>

          <div class="form-group">
            <label for="biography">About you</label>
            <textarea required class="form-control" id="biography" name="biography" rows="3">{{ old_user_data['biography']}}</textarea>
          </div>
            <input type="submit" value="Update Information">
        </form>
    </div>
    {% endblock %}