{% extends 'base.html' %}

{% block title %}Update account{% endblock %}

{% block header %}{{ username }}'s account details {% endblock %}

{% block original_url %}
    <input type="hidden" id="original url" name="original url" value="new_quiz_route">
{% endblock %}

{% block content %}
<table class="details">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for each_dict in user_info %}
                {% for key in each_dict %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ each_dict[key] }}</td>
                    </tr>
                {% endfor %}

            {% endfor %}
        </tbody>
</table>
{% endblock content %}