<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Maker</title>
    <link rel = "stylesheet" href="static/main.css">
</head>
<body>

    <h1>Welcome to the Quiz Maker!</h1>
    <br>
    <h2>Click on the left picture to make a new quiz or the right picture to join a quiz.</h2>

    <div>
    <a href = "/new-quiz">
        <img id = "new_quiz_img" name = "image" src = "static/images/new_quiz.png" height = "300">
    </a>
    <a href = "/quiz-list">
        <img id = "join_quiz_img" name = "image" src = "static/images/quiz_time.png" height = "300">
    </a>

    </div>

</body>
</html>