{% extends 'base.html' %}

{% block title %}Welcome to the Quiz Maker!{% endblock %}

{% block header %}Join or make your own Quiz!{% endblock %}

{% block original_url %}
    <input type="hidden" id="original url" name="original url" value="main_page">
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="/new-quiz" id="link">
                    <img id="new_quiz_img" name="image" src="static/images/new_quiz.png" height="300">
                </a>
                <a id="link" href="/new-quiz"><h2>Make a new quiz</h2></a>
            </div>
            <div class="col-sm-6">
                <a href="/quiz-list">
                    <img id="join_quiz_img" name="image" src="static/images/quiz_time.png" height="300">
                </a>
                <a id="link" href="/quiz-list"><h2>Join a quiz</h2></a>
            </div>
        </div>
    </div>

    {% if not username %}
        {% include "sign_up or sign_in window.html" with context %}
    {% endif %}

{% endblock %}