{% extends 'base.html' %}
{% block user %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <label class="flash_message">{{ message }}</label>
        {% endfor %}
      {% endif %}
      {% if username %}
        <label class="flash_message">User: <label style="color: crimson">{{ username }}</label>
      {% endif %}
    {% endwith %}
{% endblock %}

{% block title %}Welcome to the Quiz Maker!{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 150px">
        <div class="row">
            <div class="col-sm-6">
                <a href="/new-quiz" id="link">
                    <img id="new_quiz_img" name="image" src="static/images/new_quiz.png" height="300">
                </a>
                <a id="link" href="/new-quiz"><h2>Make a new quiz</h2></a>
            </div>
            <div class="col-sm-6">
                <a href="/quiz-list">
                    <img id="join_quiz_img" name="image" src="static/images/quiz_time.png" height="300">
                </a>
                <a id="link" href="/quiz-list"><h2>Join a quiz</h2></a>
            </div>
        </div>
    </div>

    {% if not username %}
        <button class="open-button" onclick="openForm()">Sign in or Sign up</button>

        <div class="form-popup" id="myForm">
          <form action="/" class="form-container" method="post">
              <label><h4>Login</h4></label><label><a href="/sign_up"><h3 id="sign_up">Sign up</h3></a></label>

            <input type="text" placeholder="Enter login" id="username" name="username" required>

            <label for="password"><h4>Password</h4></label>
            <input type="password" placeholder="Enter Password" id="password" name="password" required>

            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
          </form>
        </div>
    {% endif %}

    <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
{% endblock %}