<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a quiz</title>
</head>
<body style = "background-color: aquamarine">
    <h1 align = "center" style = "color: deeppink">Make your own Quiz!</h1>

    <form align = "center" action = "/new-quiz" method = "post">
        <label for = "quiz_title"><h2 style = "color: deeppink">Quiz title</h2></label>
        <input type="text" id = "quiz_title" name = "quiz_title" required>
        <input type = "submit" value = "Add first question">
    </form>
</body>
</html>