<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href = "static/new_quiz.css">
    <meta charset="UTF-8">
    <title>Make a quiz</title>
</head>
<body>
    <h1>Make your own Quiz!</h1>

    <form action = "/new-quiz" method = "post">
        <label for = "quiz_title"><h2>Quiz title</h2></label>
        <input type="text" id = "quiz_title" name = "quiz_title" required>
        <input type = "submit" value = "Add first question">
    </form>
    <form action = "/" method = "get">
        <input type = "submit" value = "Return to main page">
    </form>
</body>
</html>