<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href = "static/new_quiz.css">
    <meta charset="UTF-8">
    <title>Add your question!</title>
</head>
<body>
    <h1>Make your own Quiz!</h1>
    <h2 id = "quiz_title">Your Quiz title: {{ quiz_title }}</h2>

    <form action = "/new-quiz-next/{{quiz_id}}" method = "post">
        <input type="hidden" id = "quiz_title" name = "quiz_title" value="{{quiz_title}}">
        {% include "question_form.html" with context %}
        <input type = "submit" value = "Add this question">
        <input type="button" onclick="this.form.action = '/'; this.form.method = 'GET'; this.form.submit() " value="Return">
    </form>
</body>
</html>