{% extends "base.html" %}

{% block title %}New question{% endblock %}

{% block header %}Add a question!{% endblock %}

{% block original_url %}
    <input type="hidden" id="original url" name="original url" value="new_quiz_route">
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/question_page.css">
    <div  class = "body_content">
{#        <h2 id = "quiz_title">Your Quiz title: {{ quiz_title }}</h2>#}

        <form action = "/new-quiz-next/{{quiz_id}}" method = "post">
            <input type="hidden" id = "quiz_title" name = "quiz_title" value="{{quiz_title}}">
            {% include "question_form.html" with context %}
            <input type = "submit" class="btn btn-primary btn-lg active top-space" value = "Add this question">
            <input type="button" class="btn btn-primary btn-lg active top-space" onclick="this.form.action = '/'; this.form.method = 'GET'; this.form.submit() " value="Return">
        </form>
    </div>
{% endblock %}