
<div>
    <label for = "question">
        <h3>Question</h3>
    </label>
    <input id = "question" name = "question" type = "text" required>
</div>

{% for answer_id in answer_ids %}
    <br>
    <div>
        <label for = "{{answer_id}}">
            {% if answer_id == "correct_answer" %}
                <div style="color: green"><b>Correct answer</b></div>
            {% else %}
                <div class = "optional_answers">Optional answer</div>
            {% endif %}
        </label>
        <input id = "{{answer_id}}" name = "{{answer_id}}" required>
    </div>
{% endfor %}
