{% extends "base.html" %}

{% block title %}Quiz Time!{% endblock %}

{% block header %}Quiz Time!{% endblock %}

{% block original_url %}
    <input type="hidden" id="original url" name="original url" value="quiz_list">
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for("static", filename="quizzing.css") }}">
    <form id="user_answer_form" action="{{ url_for("participate", quiz_title = quiz_title, quiz_id = quiz_id) }}" method="post">
        {% for question_index in range(quiz_data|length) %}
            {% set question_data = quiz_data[question_index] %}
            <div class="question" id="{{ question_index }}">
                <h2>{{ question_data["question"] }}</h2>
                <div class="answers">
                        {% for answer in question_data["answers"] %}
                            <div class="answer_block">
                                <input type="radio" name="{{ question_data["question_id"]|int }}" value="{{ answer["answer_id"]|int }}">
                                    <label>{{ answer["answer"] }}</label>
                            </div>
                        {% endfor %}
                    <div>
                        {% if question_index < quiz_data|length - 1 %}
                            <button id="next" type="button" onclick="window.location.href = '#{{ question_index + 1 }}';">Next</button>
                        {% else %}
                            <input class="submit_btn" type="submit" value="Submit">
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not quiz_data and not gained_points and gained_points != 0 %}
            <h2>There are no questions!</h2>
        {% endif %}
    </form>

    {% if gained_points or gained_points == 0 %}
        <div class="gained_points">
            <h3>Gained points: {{ gained_points }}</h3>
        </div>
    {% endif %}
{% endblock %}