{% extends 'base.html' %}

{% block title %}Quizzes list{% endblock %}

{% block original_url %}
    <input type="hidden" id="original url" name="original url" value="quiz_list">
{% endblock %}

{% block content %}

    <div id="quiz_list">
            <table class = "body_content" id = "quiz_list">
                <thead>
                    <th>
                        <h3>Pick your Quiz!</h3>
                    </th>
                </thead>

                <tbody>
                    {% for quiz_title in quiz_list %}
                    <tr>
                        <td>
                            {{ quiz_title }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

    {% if not username %}
        {% include "sign_up or sign_in window.html" with context %}
    {% endif %}

    <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
{% endblock %}