{% extends 'base.html' %}

{% block title %}Pick your Quiz!{% endblock %}

{% block content %}

    <table class = "body_content" id = "quiz_list">
        <thead>
            <th>
                <h3>Pick your Quiz!</h3>
            </th>
        </thead>

        <tbody>
            {% for quiz_title in quiz_list %}
            <tr>
                <td>
                    <a href="#">{{ quiz_title }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}