<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quiz List</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel = "stylesheet" href="static/main.css">
    </head>
<body align = "centre" style = "background-color: #bcff9b">
        <div class="jumbotron text-center">
                <div class="row">
                    <div class="col-sm-2">
                        <form action = "/" method = "get">
                            <input type="image" src="static/images/quiz_time_logo.png" alt="Return to main page" />
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <h1>Quiz lists</h1>
                    </div>
                </div>
        </div>
    <h1 style="color: #9C1A1C">Oooops! There's nothing here at the moment!</h1>
    <p>Don't worry. There will be your Quiz List here. Here's the button that will take you to the main page:</p>
</body>
</html>