{% extends 'base.html' %}

{% block title %}Update account{% endblock %}

{% block header %}{{ username }}'s account details {% endblock %}

{% block original_url %}
    <input type="hidden" id="original url" name="original url" value="user_page">
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/user_page.css">
<table #details_list>
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for each_dict in user_info %}
                {% for key in each_dict %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ each_dict[key] }}</td>
                    </tr>
                {% endfor %}

            {% endfor %}
        </tbody>
</table>
{% endblock content %}